{% import "issue.j2" as issue %}
{% import "scope.j2" as scope %}
{% set commit = __tera_context %}
#-tr-#{% Issue() %}{{ Kind.name }}{% Scope() %}: {{ Summary }}
{% BlankLine %}
{% if "Description" in __tera_context %}
{{ Description }}
{% BlankLine %}
{% endif %}